/* *{
    border:1px solid black} */
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;

}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-content {
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
}

.navtop span {
    font-weight: bold;
}

.navbar {
    
    height: 180vh;
    width: 175px;
    min-width: 175px;
    background-color: #2E99A5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.close-toggle {
    align-self: flex-end;
    font-size: 17px;
    border-radius: 5px;
    padding: 3px;
    color: white;
    width: fit-content;
    display: none;

}

.close-toggle:hover {
    color: black;
    background-color: aliceblue;
}

.navtop {
    display: flex;
    flex-direction: row;
    padding: 7px;
    align-items: center;
    background-color: aliceblue;
}

.navtop .toggle:hover {
    background-color: #2E99A5;
    border-radius: 10px;

}



.navtop span {
    flex-grow: 1;
}

.bi-gear-fill {
    margin-left: 10px;
}

form {}

.search {
    width: 90px;
    height: 20px;
    border-radius: 15px;
    align-items: left;
}

.chat,
.toggle {
    padding: 10px;
    margin-right: 10px;
    margin-left: 5px;
    cursor: pointer;
}


.items {
    flex-grow: 1;
    overflow: auto;
}

.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.nav-item:hover{
    background-color: #2E99A5;
    border: 1px solid white;
    color: white;
    box-sizing: content-box;
}

.nav-item span {
    margin-left: 10px;
    flex-grow: 1;
}

.avatar-navbar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.avatar-navbar img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}


/* ini bagian konten dashboard */
.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;

}








@media screen and (max-width:800px) {
    .navbar {
        width: 0px;
        padding: 0px;
        z-index: 5;
    }

    .avatar {
        display: none;
    }

    .Items {
        display: none;
    }


}


.case-card-event {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-event {  /*table card*/
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(169, 169, 169, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 340px;
    height: 100px;
    margin-bottom: 10px;
}
.card-event tr td{
    padding: 0px;
}
.card-event span{
    font-size: 13px;
}
.card-event .gambar-event {
    border-radius: 10px;
    width: 150px;
}

.card-event .deskripsi-event {
    vertical-align: top;
    text-align: start;
}

.card-event .details-event {
    vertical-align: middle;
    text-align: end;
    padding-right: 5px;
}

.details-event i {
    margin-left: 10px;
    cursor: pointer;
}



#scrollBtn {
    display: none; /* Tombol akan disembunyikan secara default */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #2E99A5;
    cursor: pointer;
    border-radius: 10px;
    font-size: 35px;
  }
  html {
    scroll-behavior: smooth; /* Efek transisi smooth saat melakukan scroll */
  }